* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
    box-sizing: border-box;
}

body {
    background: #F5F8FF;
}

header {
    /* width: 100%; */
    background-image: url('./Assets/Hero-bg.png');
    padding: 50px 0px 180px 0px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    /* padding: 50px; */
}

h1 {
    color: #4E47FF;
    font-weight: bold;
}

button {
    padding: 12px 36px;

    background-color: #4E47FF;
    box-shadow: none;
    border-radius: 10px;
    border: none;

    color: white;
    font-weight: 700;
}

.hero {
    padding: 200px 0px 0px 0px;
    text-align: center;
}

.hero h2 {
    font-size: 65px;
    font-weight: 700;
    /* text-align: center; */
    /* text-align: center; */
}

.hero button {
    margin-top: 30px;
}


.action {
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 100px 0px;
}

.action .left * {
    margin: 15px 0px;
}

.action .left h2 {
    color: #252432;
    font-size: 42px;
    font-weight: 700;
}

.action .left p {
    color: #25243280;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}

.action .right img {
    border-radius: 48px;
}

.usr {
    margin: 100px 0px;
    /* width: 1140px; */
    /* text-align: center; */
    display: flex;
    justify-content: center;
}

.usr .box {
    background-color: #4E47FF1A;
    /* text-align: center; */
    width: 1140px;

    text-align: center;
    padding: 50px 0px;
    border-radius: 24px;
}

.usr .box .top h2 {
    color: #252432;
    text-align: center;
    font-family: Raleway;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;   
}

.usr .box .down {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.usr .box .down .number h2{
    color: #4E47FF;
    font-family: Inter;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;   
}

.usr .box .down .number p {
color: rgba(0, 0, 0, 0.50);
text-align: center;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


/* Review */

.review {
    /* width: 1140px; */
    text-align: center;
}

.review .rev-box{
    /* width: 1140px; */
    text-align: center;
}

.review .rev-box .top h2 {
color: #252432;
text-align: center;
font-family: Raleway;
font-size: 42px;
font-style: normal;
font-weight: 900;
line-height: normal;
}

.review .rev-box .down {
    display: flex;
    justify-content: center;
    /* background-color: #4E47FF; */
}

/* .review .rev-box .down {
    background-color: white;
    padding: 20px;
} */

.review .rev-box .down .rev-usr {
    border-radius: 14px;
    background-color: white;
    padding: 20px;
    margin: 20px;

}

.review .rev-box .down .rev-usr .icons {
    display: flex;
    padding: 10px 0px;
}

.review .rev-box .down .rev-usr h2 {
    display: flex;
    font-size: 24px;
    font-weight: 700;
}

.review .rev-box .down .rev-usr p {
    font-size: 16px;
    padding: 10px 0px;
    text-align: left;
}

.review .rev-box .down .rev-usr .reviwer {
    display: flex;
    /* padding: 0px 10px; */
}

.review .rev-box .down .rev-usr .reviwer .left img{
    border-radius: 200px;
    /* height: 20px; */
    text-align: left;
    padding-right: 15px;
}

.review .rev-box .down .rev-usr .reviwer .right {
    display: flex;
    flex-direction: column;
}

.review .rev-box .down .rev-usr .reviwer .right h2 {
    font-size: 16px;
    font-family: Inter;
    color: #00000080;
}
.review .rev-box .down .rev-usr .reviwer .right p {
    font-size: 16px;
    margin-top: -8px;
    font-family: Inter;
    color: #00000080;
}

.focus {
    display: flex;
    justify-content: center;
    padding: 100px 0px;
}

.focus .box {
    background-color: white;
    border-radius: 14px;
    padding: 60px 0px;
    text-align: center;

    width: 1140px;
}

.focus .box h2 {
 color: #000;
font-family: Raleway;
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 60px */   
}

.focus .box p {
    color: rgba(0, 0, 0, 0.50);
    padding: 20px 0px;
}

.focus .box img {
    padding: 20px 0px;
    border-radius: 48px;
}